<IfModule mod_rewrite.c>
    RewriteEngine On

    # Se a requisição já aponta para a pasta public, não faz nada.
    # Isso previne o loop de redirecionamento.
    RewriteRule ^public/ - [L]

    # Redireciona a raiz da aplicação (URL vazia) para a pasta /public
    RewriteRule ^$ public/ [L]

    # Redireciona todas as outras requisições que não são arquivos ou pastas existentes para /public
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>